h1 {
  font-family:'Times New Roman';
  color: red;
  font-weight: bold;
}

h2 {
  font-family: comic;
  font-style: italic;
  text-align: center;
  font-weight: bold;
  color: blue;
}

p {
  font-family: sans-serif;
}

ul {
  font-size: 20px;
  line-height: 30px;
  font-weight: 900;
}

.tos {
  font-size: smaller;
}